.App__header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .App__header img{
    margin-bottom: 20px;
    width: 600px;
    height: 210px;
  }
  @media (max-width:600px){
    .App__header img{
      width: 100%;
      height: 100%;
    }
  }
  .header__inputSearch{
    width: 80%;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    border: 4px solid #ffcb05;
    padding-left: 20px;
    border-radius: 30px;
    color: #306bb3;
  }